table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    cursor: pointer;
}

th:hover {
    background-color: #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th.sort-asc::after {
    content: '\25b2';
}

th.sort-desc::after {
    content: '\25bc';
}